*{
  font-family: 'Belanosima', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0090c1;
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 1em 0;
  text-shadow: 2px 4px 4px #000000;
}


nav {
  background-color: #022f40;
  overflow: hidden;
}

nav a {

  font-size: 30px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Sections/Body of Portoflio */

section {
  font-size: 50px;
  padding: 500px;
  color:#0090c1;
  background-color: white;
  text-shadow: 2px 4px 4px #000000;
}

footer {
  background-color: #022f40;
  color: white;
  text-align: center;
  padding: 1em 0;
}